<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiciPal</title>
    <link rel="stylesheet" href="/css/stylesfooterheader.css">
    <link rel="stylesheet" href="/css/stylesHome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-head">
            <a href="/" class="logos">
                <img src="images/Logo-Bici-Pal.jpeg" alt="Logo BiciPal" class="logo-imagen">
                <img src="images/Logo-Bici-Pal-Blanco-Palabra.jpeg" alt="BiciPal" class="logo-palabra">
            </a>         
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="input">
                <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </div>
            <nav class="log-bar">
                <ul>
                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                    <li><a href="/login"><i class="fa-solid fa-circle-user"></i></a></li>
                    <li><a href="/register"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
        <nav class="cat-bar">
            <ul>
                <li><a href="#">MARCAS</a></li>
                <li><a href="#">BICICLETAS</a></li>
                <li><a href="#">COMPONENTES Y ACCESORIOS</a></li>
                <li><a href="#">RUEDAS Y CUBIERTAS</a></li>
                <li><a href="#">EQUIPAMIENTO</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
        </nav>
    </header>
        <main>
            <div class="espacio-header"></div>
            <a href="#" class="chat-consulta">
                <i class="fa-regular fa-comments"></i>
                <p class="texto-consulta">¿Necesitas ayuda?</p>
            </a>
            <div class="banner">
                <img src="images/mountain_banner_1000250.jpg" alt="imagen_banner">
            </div>
            <nav class="payment-bar">
                <ul>
                    <li class="entrega"><a href="#"><i class="fa-solid fa-truck"></i><span class="info-ent-pago">Entrega Inmediata</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-credit-card"></i><span class="info-ent-pago">Tarjeta de Crédito</span></a></li>
                    <li><a href="#"><i class="fa-regular fa-credit-card"></i><span class="info-ent-pago">Tarjeta de Débito</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-qrcode"></i><span class="info-ent-pago">QR</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-money-bill-1"></i><span class="info-ent-pago">Efectivo</span></a></li>
                </ul>
            </nav>
            <section class="categorias">
                <article class="categoria-principal">
                    <a  href="/productDetail">
                        <img src="images/biciurbana1.jpg" alt="Bicicletas Urbanas">
                        <h2 class="titulo-categoria">BICICLETAS URBANAS</h2>
                    </a>
                </article>
                <article class="categorias-secundarias">
                    <a href="/productDetail">
                        <img src="images/Imagen Bici 3 E.jpg" alt="bicicletas de Montaña">
                        <h2 class="titulo-categoria">BICICLETAS DE MONTAÑA</h2>
                    </a>
                    <a href="#">
                        <img src="images/kids_park E.jpg" alt="Bicicletas de Niños">
                        <h2 class="titulo-categoria">BICICLETAS DE NIÑOS</h2>
                    </a>
                    <a href="#">
                        <img src="images/componentesimg E.jpg" alt="Componentes">
                        <h2 class="titulo-categoria">COMPONENTES</h2>
                    </a>
                    <a href="#">
                        <img src="images/componentes.jpg" alt="Accesorios">
                        <h2 class="titulo-categoria">ACCESORIOS</h2>
                    </a>
                </article>
            </section>
            <section class="seccion-body">
                <h2 class="titulo-seccion">OFERTAS DESTACADAS</h2>
                <a href="/productDetail" class="imagenes-seleccionables">
                    <img src="images/OtroProd4.jpg" alt="Oferta 1">
                    <div class="titulo-precio">
                        <p class="precio-anterior">$ 91.256</p>
                        <p class="precio-producto">$ 81.256</p>
                        <p class="titulo-producto">BICICLETA SHIMANO</p>
                    </div>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/ProdDif1.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <p class="precio-anterior">$ 15.365</p>
                        <p class="precio-producto">$ 8.035</p>
                        <p class="titulo-producto">INFLADOR STARSTRA</p>
                    </div>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/ProdDif2.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <p class="precio-anterior">$ 25.653</p>
                        <p class="precio-producto">$ 20.558</p>
                        <p class="titulo-producto">ASIENTO PLAYERA MIRKA</p>
                    </div>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/ProdDif3.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <p class="precio-anterior">$ 1.900</p>
                        <p class="precio-producto">$ 1.500</p>
                        <p class="titulo-producto">LUZ DE NOCHE YIGUN</p>
                    </div>
                </a>
                <a href="#" class="articulo-oculto imagenes-seleccionables">
                    <img src="images/TechoLLuvia.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <p class="precio-producto">$ 63.458</p>
                        <p class="titulo-producto">PROTECCION PARA LLUVIA</p>
                    </div>
                </a>
            </section>
            <section class="seccion-body">
                <h2 class="titulo-seccion">NOVEDADES</h2>
                <a href="/productDetail" class="imagenes-seleccionables">
                    <img src="images/OtroProd1.jpg" alt="Oferta 1">
                    <div class="titulo-precio">
                        <i class="fa-solid fa-bolt"></i>
                        <p class="precio-producto">$ 87.256</p>
                        <p class="titulo-producto">BICICLETA BMX HARO</p>
                    </div>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/ProdDif4.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <i class="fa-solid fa-bolt"></i>
                        <p class="precio-producto">$ 35.365</p>
                        <p class="titulo-producto">BUTACA NIÑO MAGUIO</p>
                    </div>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/ProdDif6.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <i class="fa-solid fa-bolt"></i>
                        <p class="precio-producto">$ 17.568</p>
                        <p class="titulo-producto">KIT CICLISMO TERMICO</p>
                    </div>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/ProdDif5.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <i class="fa-solid fa-bolt"></i>
                        <p class="precio-producto">$ 9.523</p>
                        <p class="titulo-producto">CASCO BLACK PLAYGUNS</p>
                    </div>
                </a>
                <a href="#" class="articulo-oculto imagenes-seleccionables">
                    <img src="images/BolsoCel.jpg" alt="Imagen 1">
                    <div class="titulo-precio">
                        <i class="fa-solid fa-bolt"></i>
                        <p class="precio-producto">$ 3.835</p>
                        <p class="titulo-producto">BOLSO PARA CELULAR</p>
                    </div>
                </a>
            </section>
            <section class="comunidad">
                <h2 class="titulo-seccion">COMUNIDAD BICIPAL</h2>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/hardtrail.jpg" alt="Oferta 1" class="imagenes-seleccionables">
                    <p class="titulo-categoria-principal">AVENTURA DE MONTAÑA</p>
                    <p class="detalle-comunidad">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, autem architecto quaerat, nobis aut nemo sunt fugiat facilis in sapiente enim veritatis minima officia! A illum quod quo dignissimos earum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus neque odio maxime aperiam, commodi, velit quis modi ipsa facilis ducimus aliquid doloremque praesentium assumenda minus ex molestiae veritatis! Excepturi, esse!</p>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/paseosdenoche.jpg" alt="Imagen 1" class="imagenes-seleccionables">
                    <p class="titulo-categoria-principal">PASEOS NOCTURNOS</p>
                    <p class="detalle-comunidad">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, autem architecto quaerat, nobis aut nemo sunt fugiat facilis in sapiente enim veritatis minima officia! A illum quod quo dignissimos earum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus neque odio maxime aperiam, commodi, velit quis modi ipsa facilis ducimus aliquid doloremque praesentium assumenda minus ex molestiae veritatis! Excepturi, esse!</p>
                </a>
                <a href="#" class="imagenes-seleccionables">
                    <img src="images/bicikids.jpg" alt="Imagen 1" class="imagenes-seleccionables">
                    <p class="titulo-categoria-principal">BICI KIDS</p>
                    <p class="detalle-comunidad">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, autem architecto quaerat, nobis aut nemo sunt fugiat facilis in sapiente enim veritatis minima officia! A illum quod quo dignissimos earum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus neque odio maxime aperiam, commodi, velit quis modi ipsa facilis ducimus aliquid doloremque praesentium assumenda minus ex molestiae veritatis! Excepturi, esse!</p>
                </a>
            </section>
        </main>
   <footer>
        <div class="comunidad">
            <p>Community</p>
        </div>
        <nav class="cat-bar">
            <ul>
                <li><a href="#">MARCAS</a></li>
                <li><a href="#">BICICLETAS</a></li>
                <li><a href="#">COMPONENTES Y ACCESORIOS</a></li>
                <li><a href="#">RUEDAS Y CUBIERTAS</a></li>
                <li><a href="#">EQUIPAMIENTO</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
        </nav>
        <div class="contacto">
            <p>Contact Us</p>
            <p><i class="fa-solid fa-phone"></i>55555555555</p>
            <p><i class="fa-solid fa-location-dot"></i>Calle falsa 123</p>
        </div>
        <div>
            <ul class="redes-sociales">
                <li><i class="fa-brands fa-facebook-square"></i></li>
                <li><i class="fa-brands fa-instagram-square"></i></li>
                <li><i class="fa-brands fa-twitter-square"></i></li>
                <li><i class="fa-solid fa-square-envelope"></i></li>
            </ul>
        </div>
    </footer>
</body>
</html>