<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Detail</title>
    <link rel="stylesheet" href="/css/stylesfooterheader.css">
    <link rel="stylesheet" href="/css/stylesProdDet.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-head">
            <div class="logos">
                <img src="images/Logo-Bici-Pal.jpeg" alt="Logo BiciPal" class="logo-imagen">
                <img src="images/Logo-Bici-Pal-Blanco-Palabra.jpeg" alt="BiciPal" class="logo-palabra">
            </div>        
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="input">
                <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </div>
            <nav class="log-bar">
                <ul>
                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                    <li><a href="/login"><i class="fa-solid fa-circle-user"></i></a></li>
                    <li><a href="/register"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
        <nav class="cat-bar">
            <ul>
                <li><a href="#">MARCAS</a></li>
                <li><a href="#">BICICLETAS</a></li>
                <li><a href="#">COMPONENTES Y ACCESORIOS</a></li>
                <li><a href="#">RUEDAS Y CUBIERTAS</a></li>
                <li><a href="#">EQUIPAMIENTO</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="espacio-header"></div>
        <section class="producto">
            <div class="encabezado-producto">
                <h3 class="titulo-producto">BICICLETA DE MONTAÑA</h3>
                <div class="calificacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <article class=imagenes>
                <div class="imagen-principal">
                    <img src="images/Imagen Bici 1.jpg" alt="Imagen 1">
                </div>
                <div class="imagenes-secundarias">
                    <img src="images/Imagen Bici 2.jpg" alt="Imagen 2" class="imagenes-seleccionables">
                    <img src="images/Imagen Bici 3.jpg" alt="Imagen 3" class="imagenes-seleccionables">
                    <img src="images/Imagen Bici 4.jpeg" alt="Imagen 4" class="imagenes-seleccionables">
                    <img src="images/Imagen Bici 5.jpg" alt="Imagen 5" class="imagenes-seleccionables">
                </div>
            </article>
            <article class="informacion">
                <p class="precio-producto">$ 87.000,00</p>
                <form class="opciones">
                    <div class="cantidad">
                        <label for="cantidad">CANTIDAD</label>
                        <select name="cantidad" id="cantidad">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="color">
                        <label for="color" id="color">COLOR</label>
                        <select name="color" id="color">
                            <option value="rojo">ROJO</option>
                            <option value="azul">AZUL</option>
                            <option value="negro">NEGRO</option>
                            <option value="blanco">BLANCO</option>
                            <option value="verde">VERDE</option>
                        </select>
                    </div>
                    <div class="tamano">
                        <label for="tamano" id="tamano">TAMAÑO</label>
                        <select name="tamano" id="tamano">
                            <option value="rojo">CHICO</option>
                            <option value="azul">MEDIANO</option>
                            <option value="negro">GRANDE</option>
                        </select>
                    </div>
                </form>
                <div class="caracteristicas">
                    <h3>CARACTERISTICAS</h3>
                    <ul>
                        <li><span class="titulo-caract">CUADRO: </span>Slp de Aluminio</li>
                        <li><span class="titulo-caract">HORQUILLA: </span>Slp con Suspension</li>
                        <li><span class="titulo-caract">SHIFTERS: </span>Shimano ST-EF41</li>
                        <li><span class="titulo-caract">CADENA: </span>Comun Mtb 7v</li>
                        <li><span class="titulo-caract">PIÑON: </span>Shimano MF-TZ500-7</li>
                        <li><span class="titulo-caract">FRENOS: </span>Disco Mecanico</li>
                        <li><span class="titulo-caract">NEUMÁTICOS: </span>Wanda MTB 29×2.10</li>
                        <li><span class="titulo-caract">MANUBRIO: </span>Slp MTB de Aluminio</li>
                        <li><span class="titulo-caract">ASIENTO: </span>Slp MTB</li>
                        <li><span class="titulo-caract">JUEGO DE DIRECCIÓN: </span>Integrado</li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="botones">
            <button>AGREGAR AL CARRITO</button>
            <button>COMPRAR</i></button>
        </section>
        <section class="valoraciones">
            <h3 class="titulo-seccion">OPINIONES</h3>
            <ul class="opiniones">
                <li>
                    <h4>Lorem ipsum, dolor sit amet consectetur</h4>
                    <p class="calificacion-usuario">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                    <p class="opinion-usuario">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio magni ex recusandae praesentium et, ea aliquid saepe aspernatur voluptates impedit, nam dignissimos. Nobis error, quaerat sunt quidem sed necessitatibus. Ratione?   </p>
                </li>
                <li>
                    <h4>Lorem ipsum, dolor sit amet consectetur</h4>
                    <p class="calificacion-usuario">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </p>
                    <p class="opinion-usuario">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio magni ex recusandae praesentium et, ea aliquid saepe aspernatur voluptates impedit, nam dignissimos. Nobis error, quaerat sunt quidem sed necessitatibus. Ratione?   </p>
                </li>
                <li>
                    <h4>Lorem ipsum, dolor sit amet consectetur</h4>
                    <p class="calificacion-usuario">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </p>
                    <p class="opinion-usuario">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio magni ex recusandae praesentium et, ea aliquid saepe aspernatur voluptates impedit, nam dignissimos. Nobis error, quaerat sunt quidem sed necessitatibus. Ratione?   </p>
                </li>
            </ul>
        </section>
        <section class="productos-similares">
            <h3 class="titulo-seccion">PRODUCTOS SIMILARES</h3>
            <ul class="vinculos-productos">
                <li>
                    <a href="#">
                        <img src="images/OtroProd1.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 83.000</h3>
                        <h3 class="titulo-imagen">BICICLETA SHIMANO</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/OtroProd2.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 77.569</h3>
                        <h3 class="titulo-imagen">BICICLETA CHICAGO</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/OtroProd3.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 79.500</h3>
                        <h3 class="titulo-imagen">BICICLETA VAIROLETA</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/OtroProd4.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 89.968</h3>
                        <h3 class="titulo-imagen">BICICLETA CARRERA</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/OtroProd5.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 93.256</h3>
                        <h3 class="titulo-imagen">BICICLETA HARONGARS</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/OtroProd6.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 79.365</h3>
                        <h3 class="titulo-imagen">BICICLETA URBANAPRO</h3>
                    </a>
                </li>
            </ul>
        </section>
        <section class="productos-similares">
            <h3 class="titulo-seccion">PRODUCTOS QUE PODRÍAN INTERESARTE</h3>
            <ul class="vinculos-productos">
                <li>
                    <a href="#">
                        <img src="images/ProdDif1.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 8.035</h3>
                        <h3 class="titulo-imagen">INFLADOR STARSTRA</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/ProdDif2.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 20.558</h3>
                        <h3 class="titulo-imagen">ASIENTO PLAYERA MIRKA</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/ProdDif3.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 1.500</h3>
                        <h3 class="titulo-imagen">LUZ DE NOCHE YIGUN</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/ProdDif4.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 35.365</h3>
                        <h3 class="titulo-imagen">BUTACA NIÑO MAGUIO</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/ProdDif5.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 9.523</h3>
                        <h3 class="titulo-imagen">CASCO BLACK PLAYGUNS</h3>
                    </a>
                </li>
                                <li>
                    <a href="#">
                        <img src="images/ProdDif6.jpg" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto">$ 17.568</h3>
                        <h3 class="titulo-imagen">KIT CICLISMO TERMICO</h3>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <div class="comunidad">
            <p>Community</p>
        </div>
        <nav class="cat-bar">
            <ul>
                <li><a href="#">MARCAS</a></li>
                <li><a href="#">BICICLETAS</a></li>
                <li><a href="#">COMPONENTES Y ACCESORIOS</a></li>
                <li><a href="#">RUEDAS Y CUBIERTAS</a></li>
                <li><a href="#">EQUIPAMIENTO</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
        </nav>
        <div class="contacto">
            <p>Contact Us</p>
            <p><i class="fa-solid fa-phone"></i>55555555555</p>
            <p><i class="fa-solid fa-location-dot"></i>Calle falsa 123</p>
        </div>
        <div>
            <ul class="redes-sociales">
                <li><i class="fa-brands fa-facebook-square"></i></li>
                <li><i class="fa-brands fa-instagram-square"></i></li>
                <li><i class="fa-brands fa-twitter-square"></i></li>
                <li><i class="fa-solid fa-square-envelope"></i></li>
            </ul>
        </div>
    </footer>
</body>
</html>