<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Detail</title>
    <link rel="stylesheet" href="/css/stylesfooterheader.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-head">
            <img src="images/Logo-Bici-Pal.jpeg" alt="Logo BiciPal" class="logo-imagen">
            <img src="images/Logo-Bici-Pal-Blanco-Palabra.jpeg" alt="BiciPal" class="logo-palabra">
        </div>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="input">
            <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
        </div>
        <nav class="log-bar">
            <ul>
                <li><a href="#"></a><i class="fa-regular fa-heart"></i></li>
                <li><a href="/login"></a><i class="fa-solid fa-circle-user"></i></li>
                <li><a href="/productCart"></a><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        <br>
    </main>
    <footer>
        <div class="comunidad">
            <p>Community</p>
        </div>
        <div class="contacto">
            <p>Contact Us</p>
            <p><i class="fa-solid fa-phone"></i>55555555555</p>
            <p><i class="fa-solid fa-location-dot"></i>Calle falsa 123</p>
        </div>
        <div>
            <ul class="redes-sociales">
                <li><i class="fa-brands fa-facebook-square"></i></li>
                <li><i class="fa-brands fa-instagram-square"></i></li>
                <li><i class="fa-brands fa-twitter-square"></i></li>
                <li><i class="fa-solid fa-square-envelope"></i></li>
            </ul>
        </div>
    </footer>
</body>
</html>