/*Celeste: 01adff
negro:333333
blanco:ffffff
Azul Oscuro: 08355A
Azul Claro: 0f6992
verde: 70bb49
*/ 

/*estilos del main*/
a{text-decoration: none;}

main{
    width:90%;
    margin:auto;
    color:#333333
}

main ul li.boton-nuevo{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}

main ul li a.nuevo-producto{
    width:90%;
}

main ul li a.nuevo-producto button{
    width:100%;
    background-color:#0f6992;
    color:white;
    font-size: 16px;
    padding:5px;
    border-radius:5px;
    margin:auto;
    transition: all 450ms;
}

main ul li a.nuevo-producto button:hover{
    background-color:#08355A ;
}

/*Estilos de la lista*/

main ul li.productos {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:1px solid #70bb49;
    width:100%
}

/*Estilos de la imagen de cada producto*/
main ul li div.imagen{
    width:30%;
}

main ul li div img.imagen-producto{
    width:100%;
    object-fit:cover;
}

/*Estilos del detalle del producto*/
main ul li.productos div.detalle{
    display:flex;
    flex-wrap: wrap;
    width:65%;
    margin-left: 10px;
}

main ul li.productos div.detalle h2.nombre-producto{
    width:100%;
    font-size: 14px;
    margin-bottom: 10px;
}

main ul li.productos div.detalle div.informacion-princiapl{
    width:70%;
    font-size: 12px;
}

main ul li.productos div.detalle a.editar{
    width:25%;
    font-size: 12px;
}

@media(min-width:576px){
    main ul li.productos div.detalle h2.nombre-producto{
        font-size: 24px;
    }

    main ul li.productos div.detalle div.informacion-princiapl{
        font-size: 16px;
    }
    
    main ul li.productos div.detalle a.editar{
        font-size: 16px;
    }
}

@media(min-width:768px){
    main ul{
        width:60%;
        margin:10px auto;
        border-bottom: #70bb49 2px solid;
        border-radius: 10px;
    }

    main ul li.productos{
        border-left: #70bb49 2px solid;
        border-right: #70bb49 2px solid;
        border-top: #70bb49 2px solid;
        border-bottom: none
    }

    main ul li div.imagen{
        margin: 5px;
    }

    main ul li div.imagen img{
        max-height: 150px;
    }


    main ul li.productos div.detalle h2.nombre-producto{
        font-size: 26px;
    }

    main ul li.productos div.detalle div.informacion-princiapl{
        font-size: 18px;
    }
    
    main ul li.productos div.detalle a.editar{
        font-size: 18px;
    }

}
