/*Celeste: 01adff
negro:333333
blanco:ffffff
Azul Oscuro: 08355A
Azul Claro: 0f6992
verde: 70bb49
*/ 

@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MYRIADPRO-REGULAR.OTF');
}

*{
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
    font-family: "MyriadPro";
}

body{
    background-color:#ebebeb
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

main .espacio-header{
    margin-top:75px;
    width:100%
}

main span.feedback{
    color:red;
    font-size: 10px;
    /*display:none*/
}


/*Estilos del header*/
header{
    background-color: white;
    position:fixed;
    z-index: 1;
    top:0px;
    left:0px
}


header .main-head{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    background-color:white;
    border-bottom: solid 2px #70bb49;
}

/*Estilos de logos*/
header .main-head .logos{
    display:flex;
    width:15%;
    flex-wrap: wrap;
    justify-content: center;
}

header .main-head .logos .logo-imagen{
    width:100%;
}

header .main-head .logos .logo-palabra{
    display:none
}

/*menu hamburguesa*/
header .main-head .burger-menu{
    width:8%;
    background-color:rgb(211, 207, 207);
    border-radius:5px;
    padding:5px;
}

header .main-head .burger-menu .fa-bars{
    color:black;
    font-size: 20px;
    text-align:center;
    width:100%
}

/*barra de busqueda*/
header .main-head .input{
    display:flex;
    width:40%;
    margin:5px;
    justify-content: space-between;
    align-items: center;
}

header .main-head .input input{
    width:100%;
    font-size: 16px;
}

header .main-head .input button {
    display:flex;
    width:5%;
    align-self: stretch;
}

header .main-head .input button i{
    margin:auto
}

/*barra de navegacion usuario*/
header .main-head .log-bar{
    width:30%
}

header .main-head .log-bar ul{
    display:flex;
    font-size: 18px;
    justify-content: space-around;
    width:100%
}

header .main-head .log-bar ul li{
    margin:5px;
}

header .main-head .log-bar ul li a{
    color:#08355A;
}


/*barra de navegacion categorias*/
header .cat-bar{
    display:none;
}

/*estilos del footer*/

footer{
    display:flex;
    color:white;
    background-color:#08355A;
    justify-content: space-around;
}

footer .comunidad{
    width:25%;
    line-height: 32px;
}

footer .cat-bar{
    display:none;
}

footer .cat-bar li a {
    color:white;
    line-height: 24px;
}

footer .contacto{
    width:40%;
    line-height: 32px;
}

footer div .redes-sociales{
    font-size: 24px;
    width:20%;
    display:flex;
    margin:5px;
}

footer .redes-sociales i{
    margin:5px;
    width:20%
}

@media(min-width:576px){
    /*media queries del header*/
    main .espacio-header{
        margin-top:100px
    }

    header .main-head {
        border-bottom: none;
    }
    header .main-head div,nav {
        margin:10px
    }

    header .main-head .logos{
        width:20%;
        align-items:center
    }

    header .main-head .logos .logo-imagen{
        display:block;
        width:30%
    }

    header .main-head .logos .logo-palabra{
        display:block;
        width:70%
    }

    /*menu hamburguesa*/
    header .main-head .burger-menu{
        display:none
    }

    /*barra de busqueda*/
    header .main-head .input input{
        width:100%;
        font-size: 24px;
    }
    
    /*barra de navegacion usuario*/
   header .main-head .log-bar ul li{
       font-size: 24px;
   }

    /*barra de navegacion categorias*/
    header .cat-bar{
        font-size: 12px;
        display:block;
        width:100%;
        background-color: #08355A;
        margin:0px;
        border-top: solid 2px #70bb49;
    }

    header .cat-bar ul{
        display:flex;
        width:100%;
        justify-content: center;
    }
    
    header .cat-bar li {
        margin:10px 20px
    }
    header .cat-bar li a{
        color:white;
        text-decoration: none;
    }

    /*media queries del footer*/
    footer div .redes-sociales{
        font-size:34px;
    }
}

@media(min-width:768px){
    header{
        position:static
    }

    main .espacio-header{
        display:none
    }

    header .main-head{
        width:80%;
        margin:auto;
    }

    header .main-head .log-bar{
        width:10%
    }

    /*barra de navegacion categorias*/
    header .cat-bar{
        font-size: 16px;
    }

    footer .comunidad{
        width:10%
    }

    footer .cat-bar{
        display:flex;
        font-size: 16px;
    }

}