/*Celeste: 01adff
negro:333333
blanco:ffffff
Azul Oscuro: 08355A
Azul Claro: 0f6992
verde: 70bb49
*/ 

/*estilos del main*/
a{text-decoration: none;}

main{
    width:90%;
    margin:auto;
    color:#333333
}

/*Seccion del Producto*/
main .producto{
    display:flex;
    flex-wrap: wrap;
    justify-content:center
}

main .producto .encabezado-producto{
    display:flex;
    width:100%;
    flex-wrap:wrap
}

main .producto .encabezado-producto .titulo-producto{
    width:100%;
    margin:10px 0px 5px 0px
}

main section .encabezado-producto .calificacion{
    width:100%;
    color:goldenrod;
    margin:0px 0px 5px 0px
}

/*imagenes*/
main .producto .imagenes{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    margin-bottom:10px
}

main section .imagenes .imagen-principal{
    width:100%;
    justify-content: center;
    border-radius: 20px;
}

main section .imagenes .imagen-principal img {
    width:100%;
    border-radius: 20px;
    object-fit: contain;
}

main section .imagenes .imagenes-secundarias{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
}

main section .imagenes .imagenes-secundarias img{
    width:20%;
    border-radius: 5px;
    transition: all 50ms;
    object-fit: cover;
}

.imagenes-seleccionables:hover{
    border:#0f6992 solid 2px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/*Informacion del producto*/

/*Precio*/
main section p.precio-producto{
    font-size: 40px;
    text-align: center;
    width:100%;
    margin-bottom:5px;
}

/*Opciones*/
main section article .opciones{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-bottom:10px;
    width:100%
}

main section article .opciones div{
    font-size: 16px;
    width:30%;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section article .opciones div label{
    width:100%
}

/*Botones*/
main section article div.botones{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap: WRAP;
    width:100%;
}

main .botones input{
    width:80%;
    background-color:#0f6992 ;
    color:white;
    font-size: 16px;
    padding:5px;
    border-radius:5px;
    margin:5px;
    transition: all 450ms;
}

main .botones input:hover{
    background-color:#08355A ;
}


/*Caracteristicas Secundarias*/
main section article.caracteristicas{
    border:#cac5c5 solid 3px;
    border-radius: 5px;
    padding:5px;
    font-size: 10px;
    width:100%;
    margin:auto;
    margin-bottom:5px;
    background-color: #ffffff;
}

main section article.caracteristicas h3{
    font-size: 14px;
}

main section article.caracteristicas h3{
    width:100%
}

main section article.caracteristicas span{
    font-weight: bold;
}


/*opiniones*/
main .titulo-seccion{
    font-size: 16px;
    margin:10px
}

main .valoraciones .opiniones{
    display:flex;
    flex-wrap:wrap;
    width:90%;
    margin:auto;
    border:#333333 1px solid;
    border-radius: 5px;
    background-color: #ebebeb;
}

main .valoraciones .opiniones li{
    width:100%;
    margin:5px
}

main .valoraciones .opiniones li .opinion-usuario{
    font-size: 14px;
}

main .valoraciones .opiniones li .calificacion-usuario{
    color:goldenrod
}

/*productos similares*/
main .productos-similares {
    margin:auto
}

main .productos-similares .vinculos-productos{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

main .productos-similares .vinculos-productos li{
    width:45%;
    border-radius: 2px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
}

main .productos-similares .vinculos-productos li img{
    width:100%;
    object-fit: cover;
}

/*cajas de informacion de otros productos*/
main .productos-similares ul li a .precio-producto{
    font-size: 24px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    color:WHITE;
    position:absolute;
    bottom:4px;
    margin:0px;
}

main .productos-similares ul li .titulo-imagen{
    opacity:0;
    font-size: 24px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    color:WHITE;
    position:absolute;
    bottom:33px;
    margin:0px;
    padding:5px;
    transition: all 450ms;
}

main .productos-similares ul li :hover .titulo-imagen{
    opacity: 1;
}

main .productos-similares ul li :hover img{
    border:#0f6992 solid 2px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


@media(min-width:576px){
    /*Precio*/
    main section p.precio-producto{
        font-size: 50px;
    }
    
    main section article .opciones div{
        font-size: 24px;
    }

    /*Caracteristicas*/
    main section article.caracteristicas{
        font-size: 16px;
        line-height: 24px;
    }

    main section article.caracteristicas h3{
        font-size: 22px;
    }

    main .titulo-seccion{
        font-size: 20px;
    }

    /*opiniones*/
    main .valoraciones h4{
        font-size:20px
    }

    main .valoraciones .opiniones{
        width:100%;
    }

    main .valoraciones .opiniones li{
        margin:8px
    }

    main .valoraciones .opiniones li .opinion-usuario{
        font-size:18px
    }

    /*productos similares*/
    main .productos-similares .vinculos-productos li{
        width:30%;
    }
}

@media(min-width:768px){
    /*Seccion del Producto*/
    main .producto{
        justify-content:flex-start
    }

    main .producto .encabezado-producto .titulo-producto{
        font-size: 30px;
        width:75%;
        margin:auto
    }

    main .producto .encabezado-producto  .calificacion{
        font-size: 30px;
        width:75%;
        margin:auto;
        margin-bottom:10px
    }

    /*imagenes*/
    main .producto .imagenes{
        width:60%;
    }

    main section .imagenes .imagen-principal{
        width:79%;
        display:flex;
        align-self: center;
        justify-self: center;
    }

    main section .imagenes .imagen-principal img{
        max-height: 600px;
    }

    main section .imagenes .imagenes-secundarias{
        width:20%;
        justify-content: space-between;
        order:-1;
        flex-direction: column;
    }

    main section .imagenes .imagenes-secundarias img{
        width:90%;
        max-height: 150px;
    }

    /*Precio*/
    main section .informacion{
        display:flex;
        flex-wrap: wrap;
        width:40%;
        flex-direction: column;
    }

    main section p.precio-producto{
        font-size: 60px;
        text-align: left;
        margin-bottom: 0px;
    }

    /*Opciones*/
    main section article .opciones{
        flex-wrap: wrap;
        justify-content:space-between;
        margin:5px;
    }

    main section article .opciones div{
        font-size: 24px;
        width:100%;
        text-align: left;
        display:block;
    }

    /*Caracteristicas*/
    main section article.caracteristicas{
        margin:0px;
    }

    /*Botones*/
    main section article div.botones{
        justify-content:flex-end;
        width:100%;
    }

    main .botones input{
        width:45%;
    }

    
    main .titulo-seccion{
        font-size: 24px;
    }

    /*productos similares*/
    main .productos-similares .vinculos-productos li{
        width:15%;
    }
}