<footer>
    <div class="comunidad">
        <p>Community</p>
    </div>
    <nav class="cat-bar">
        <ul>
            <li><a href="#">MARCAS</a></li>
            <li><a href="#">BICICLETAS</a></li>
            <li><a href="#">COMPONENTES Y ACCESORIOS</a></li>
            <li><a href="#">RUEDAS Y CUBIERTAS</a></li>
            <li><a href="#">EQUIPAMIENTO</a></li>
            <li><a href="#">COMUNIDAD</a></li>
        </ul>
    </nav>
    <div class="contacto">
        <p>Contact Us</p>
        <p><i class="fa-solid fa-phone"></i>55555555555</p>
        <p><i class="fa-solid fa-location-dot"></i>Calle falsa 123</p>
    </div>
    <div>
        <ul class="redes-sociales">
            <li><i class="fa-brands fa-facebook-square"></i></li>
            <li><i class="fa-brands fa-instagram-square"></i></li>
            <li><i class="fa-brands fa-twitter-square"></i></li>
            <li><i class="fa-solid fa-square-envelope"></i></li>
        </ul>
    </div>
</footer>
</body>
</html>