<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesfooterheader.css">
    <link rel="stylesheet" href="<%= hojaDeEstilo %>">
    <title><%= titulo %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <% if (locals.userName){ %>
            <nav class="saludoUser">
                Hola <%= locals.userName %> !
            </nav>
        <% } %>
        <div class="main-head">
            <a href="/" class="logos">
                <img src="/images/logos/Logo-Bici-Pal.jpeg" alt="Logo BiciPal" class="logo-imagen">
                <img src="/images/logos/Logo-Bici-Pal-Blanco-Palabra.jpeg" alt="BiciPal" class="logo-palabra">
            </a>         
            <div class="burger-menu">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
                <ul>
                    <li><a href="#">MARCAS</a></li>
                    <li><a href="/products/search/categoria?valor=1">BICICLETAS</a></li>
                    <li><a href="/products/search/categoria?valor=2">ACCESORIOS</a></li>
                    <li><a href="/products/search/categoria?valor=3">COMPONENTES</a></li>
                    <li><a href="/products/search/categoria?valor=4">INDUMENTARIA</a></li>
                    <li><a href="#">COMUNIDAD</a></li>
                </ul>
            </div>
            <form action="/products/search/todo" method="GET" class="input">
                <input type="text" name="valor" placeholder="Buscar productos, marcas">
                <button type="sumbmit"><i class="fas fa-search"></i></button>
            </form>
            <nav class="log-bar">
                <ul>
                    <% if (locals && locals.isLogged){ %>
                        <li><a href="/user/userprofile"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="/user/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <% if (locals && locals.userAdmin){ %>
                            <li><a href="/products/prodMaster/list"><i class="fa-solid fa-gear"></i></a></li>
                            <li><a href="/user/usersMaster/list"><i class="fa-solid fa-users-gear"></i></a></li>
                        <% } %>
                        <li><a href="/user/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    <% } else { %>
                        <li><a href="/user/register"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="/user/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <nav class="cat-bar">
            <ul>
                <li><a href="#">MARCAS</a></li>
                <li>
                    <a href="/products/search/categoria?valor=1">BICICLETAS</a>
                    <ul class="desplegable">
                        <li><a href="/products/search/subcategoria?valor=2">BMX</a></li>
                        <li><a href="/products/search/subcategoria?valor=3">MOUNTAIN</a></li>
                        <li><a href="/products/search/subcategoria?valor=5">PASEO</a></li>
                        <li><a href="/products/search/subcategoria?valor=1">KIDS</a></li>
                        <li><a href="/products/search/subcategoria?valor=4">PLEGABLE</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/products/search/categoria?valor=2">ACCESORIOS</a>
                    <ul class="desplegable">
                        <li><a href="/products/search/subcategoria?valor=12">INFLADORES</a></li>
                        <li><a href="/products/search/subcategoria?valor=8">CANDADOS</a></li>
                        <li><a href="/products/search/subcategoria?valor=11">LUCES</a></li>
                        <li><a href="/products/search/subcategoria?valor=7">BOLSOS</a></li>
                        <li><a href="/products/search/subcategoria?valor=9">FUNDAS</a></li>
                        <li><a href="/products/search/subcategoria?valor=10">ASIENTOS</a></li>
                        <li><a href="/products/search/subcategoria?valor=6">SOPORTES</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/products/search/categoria?valor=3">COMPONENTES</a>
                    <ul class="desplegable">
                        <li><a href="/products/search/subcategoria?valor=14">PEDALES</a></li>
                        <li><a href="/products/search/subcategoria?valor=16">CUADRO</a></li>
                        <li><a href="/products/search/subcategoria?valor=13">TRANSMISION</a></li>
                        <li><a href="/products/search/subcategoria?valor=19">MANUBRIO</a></li>
                        <li><a href="/products/search/subcategoria?valor=18">CADENA</a></li>
                        <li><a href="/products/search/subcategoria?valor=17">RUEDAS</a></li>
                        <li><a href="/products/search/subcategoria?valor=15">ASIENTO</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/products/search/categoria?valor=4">INDUMENTARIA</a>
                    <ul class="desplegable">
                        <li><a href="/products/search/subcategoria?valor=20">ROPA</a></li>
                        <li><a href="/products/search/subcategoria?valor=23">CASCOS</a></li>
                        <li><a href="/products/search/subcategoria?valor=21">ANTEOJOS</a></li>
                        <li><a href="/products/search/subcategoria?valor=24">GUANTES</a></li>
                        <li><a href="/products/search/subcategoria?valor=22">ZAPATILLAS</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">COMUNIDAD</a>
                </li>
            </ul>
        </nav>
    </header>