<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesfooterheader.css">
    <link rel="stylesheet" href="<%= hojaDeEstilo %>">
    <title><%= titulo %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-head">
            <a href="/" class="logos">
                <img src="/images/logos/Logo-Bici-Pal.jpeg" alt="Logo BiciPal" class="logo-imagen">
                <img src="/images/logos/Logo-Bici-Pal-Blanco-Palabra.jpeg" alt="BiciPal" class="logo-palabra">
            </a>         
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <form action="/search" method="GET" class="input">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="sumbmit"><i class="fas fa-search"></i></button>
            </form>
            <nav class="log-bar">
                <ul>
                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                    <li><a href="/user/login"><i class="fa-solid fa-circle-user"></i></a></li>
                    <li><a href="/user/register"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/user/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="/products/prodMaster/list"><i class="fa-solid fa-gear"></i></a></li>
                </ul>
            </nav>
        </div>
        <nav class="cat-bar">
            <ul>
                <li><a href="#">MARCAS</a></li>
                <li><a href="#">BICICLETAS</a></li>
                <li><a href="#">COMPONENTES Y ACCESORIOS</a></li>
                <li><a href="#">RUEDAS Y CUBIERTAS</a></li>
                <li><a href="#">EQUIPAMIENTO</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
        </nav>
    </header>