<%- include('../partials/header',{hojaDeEstilo:"/css/stylesLogin.css",titulo:"LOGIN"}) %>

<main>
    <div class="espacio-header"></div>
    <form action="/user/login" method="POST" id="login">
        <div class="info-personal">
            <h3 class="titulo-seccion">Iniciar Sesión</h3>
            <input type="email" name="email" id="email" placeholder="Correo Electrónico" <%=locals.email  ? "value=" + locals.email : '' %>>
            <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
        </div>
        <% if (locals.error){ %>
            <span class="feedback"><%= locals.error %></span>
        <% } %>
        <div class="recordar">
            <input type="checkbox" name="recordar" id="recordar">
            <label for="recordar">Recordar información</label>
        </div>
        <div class="botones">
            <input type="submit" value="INGRESAR">
        </div>
        <a href="#">Olvide mi contraseña</a>
    </form>
</main>
<script src="/js/login.js"></script>
<%- include ("../partials/footer") %>