<%- include('../partials/header',{hojaDeEstilo:"/css/stylesLogin.css",titulo:"LOGIN"}) %>

<main>
    <div class="espacio-header"></div>
    <form action="/login" method="POST">
        <div class="info-personal">
            <h3 class="titulo-seccion">Iniciar Sesión</h3>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <input type="password" name="contrasena" placeholder="Contraseña" required>
        </div>
        <span class="feedback">Los datos igresados son incorrectos</span>
        <div class="recordar">
            <input type="checkbox" name="recordar" id="recordar">
            <label for="recordar">Recordar información</label>
        </div>
        <div class="botones">
            <input type="submit" value="INGRESAR">
        </div>
        <a href="#">Olvide mi contraseña</a>
    </form>
</main>

<%- include ("../partials/footer") %>